TRYING

In [1]:
import csv

In [ ]:
reader = csv.reader(file_object)
for row in reader:
        print(row)

In [25]:
##### Open the csv file object
with open('C:/Users/adedi_tpk1ys1/OneDrive/Documents/Nw/Airbnb_UK_2022.csv.xls', 'r', encoding='utf-8') as file:
    # Construct the csv reader object from the file object
    reader = csv.reader(file)
    # Skip the header row
    next(reader)
    # Create an empty list to store the rows that match the criteria
    result_rows = []
    h_id = input("Enter the host id: ")
    # Loop through each row in the CSV file
    for row in reader:

        # Check if the value in the 'Gender' column is 'Female'
        if row[0] == h_id:
            value1 = row[1]
            value2 = row[2]
            value3 = row[3]
            value4 = row[4]
            value5 = row[5]
#             If it is, add the entire row to the list of matching rows
#             result_rows.append()

#     # Print the matching rows
#     print(result_rows)
print("The Host Id number {} details are :\n".format(h_id))
print("The name of listing is :",value1)
print("The description is:",value2)
print("The host name is :", value3)
print("The date created by host: ", value4)
print("The host location is: ", value5)

Enter the host id:  554519

The Host Id number 554519 details are :

The name of listing is : JESSIE the narrowboat in Little Venice
The description is: jessie the narrowboat is moored in the heart of little venice on the north bank of the pool of little venice and just opposite brownings island  its a stones throw from paddington station  convenient  pretty and very relaxing the spacestay on this lovely individual  comfortable boat in the heart of london and experience the capital from a different point of view jessie is a   foot canal boat  or narrowboat  completed in   she is   foot   inches wide  she can sleep   people in comfort  for   she is very comfortable  the boat has a warm inviting interior and space on deck to sit and watch the world go by  the appropriately named little venice  a name coined by the poet robert browning  is a very pretty corner of london  famous as home to hundreds of beautiful canal boats and convenient base from which to explore the capital  two underground stations and good bus routes to all parts of the city are a short walk away  there is something very spe
The host name is : Meg
The date created by host:  03-05-11
The host location is:  London

In [ ]:
##### Open the csv file object
with open('C:/Users/adedi_tpk1ys1/OneDrive/Documents/Nw/Airbnb_UK_2022.csv.xls', 'r', encoding='utf-8') as file:
    # Construct the csv reader object from the file object
    reader = csv.reader(file)
    # Skip the header row
    next(reader)
    # Create an empty list to store the rows that match the criteria
    result_rows = []
    location = input("Enter the host location: ").capitalize()
    # Loop through each row in the CSV file
    for row in reader:

        # Check if the value in the 'host_id' column is 'h_id'
        if row[5] == location:
            value1 = row[1]
            value2 = row[13]
            value3 = row[20]
            value4 = row[21]
            value5 = row[22]
#             #if it is, add the entire row to the list of matching rows
#             result_rows.append([value1,value2,value3,value4,value5])

#     # Print the matching rows
#     print(result_rows)
            for row in reader:
                print("For {} location the details are :\n".format(location))
                print("The name of listing is :",value1)
                print("The property type is:",value2)
                print("The price is :", value3)
                print("The minimum night is : ", value4)
                print("The maximum night is: ", value5)

In [59]:
# another take(nwaneka)
# assign the file name to a variable
file_path = "Airbnb_UK_2022.csv.xls"

def load_csv(): # can the function take the file path
    #airbnb_process.get_file_path()

    # error handling
    try:
        # opening the csv and closing the csv automatically
        with open(file_path, encoding = "utf-8") as csv_file:
            
            #read the csv
            data = csv.DictReader(csv_file)
     
            #return data
            # Display the rows
            for row in data:
                #row["host_id"] = "host_id"
                if row["host_id"] == '41759':
                    print (row["name"], row["review_scores_accuracy"])

    except IOError:
        print(f"Couldn't read {file_path}.")
        # error(data_file) .... to use the error function on the tui module
        
load_csv()

Battersea live/work artist house, garden communal 4.89

In [ ]:
##### Open the csv file object
with open('C:/Users/adedi_tpk1ys1/OneDrive/Documents/Nw/Airbnb_UK_2022.csv.xls', 'r', encoding='utf-8') as file:
    # Construct the csv reader object from the file object
    reader = csv.reader(file)
    # Skip the header row
    next(reader)
    # Create an empty list to store the rows that match the criteria
    result_rows = []
    p_type = input("Enter the host location: ") #.capitalize()
    # Loop through each row in the CSV file
    for row in reader:

        # Check if the value in the 'host_id' column is 'h_id'
        if row[13] == p_type:
            value1 = row[14]
            value2 = row[15]
            value3 = row[16]
            value4 = row[17]
            value5 = row[18]
#             #if it is, add the entire row to the list of matching rows
#             result_rows.append([value1,value2,value3,value4,value5])

#     # Print the matching rows
#     print(result_rows)
            for row in reader:
                print("\nFor properties with host id {} details are :\n".format(row[0]))
                print("The room type is :",value1)
                print("It accommodates :",value2)
                print("The bathroom is :", value3)
                print("The bedrooms is : ", value4)
                print("The bed is: ", value5)

b) The system will allow the user to analyse/query data using the pandas module

In [72]:
# # val_c = input("Enter the value you wamt to identify:")
# col_n = input("Enter the column you want to identify from: ")
# cal = read_file[col_n].value_counts().to_frame()
# # print("The counts of {} values are :\n{}".format(col_n,cal)) 
# pop = max(cal)
# print("The popular value in {} is {} {}".format(col_n,gh[pop],pop))

In [73]:
import pandas as pd

In [99]:
# Load the data from a CSV file into memory using the CSV module
file= input('What is the location of the file you want to import from: ')
r_file = pd.read_csv(file)
r_file.head()

What is the location of the file you want to import from:  C:/Users/adedi_tpk1ys1/OneDrive/Documents/Nw/Airbnb_UK_2022.csv.xls

,host_id,name,description,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,60302,Bright Chelsea Apartment. Chelsea!,lots of windows and light st luke s gardens a...,Philippa,05-12-09,Kensington,within an hour,67%,29%,False,...,89,21-12-09,16-03-20,4.79,4.84,4.88,4.87,4.82,4.93,4.73
1,554519,JESSIE the narrowboat in Little Venice,jessie the narrowboat is moored in the heart o...,Meg,03-05-11,London,within an hour,100%,100%,True,...,581,04-07-11,02-09-22,4.91,4.94,4.90,4.97,4.96,4.98,4.77
2,1481851,Notting Hill church stay in Heaven!,the spaceoverview located min walk away from...,Tania,07-12-11,London,within a few hours,100%,86%,True,...,6,16-07-12,04-07-22,4.83,4.83,5.00,5.00,5.00,5.00,4.83
3,41759,"Battersea live/work artist house, garden communal",artist house bright high ceiling rooms for bo...,Joe,28-09-09,London,within a day,100%,50%,False,...,96,15-11-10,19-07-22,4.90,4.89,4.91,4.90,4.93,4.59,4.65
4,586671,DOUBLE ROOM NEAR CENTRAL LONDON,the spaceone lovely double bed and breakfastro...,Joe,14-05-11,London,within a day,90%,84%,True,...,32,06-07-13,08-09-22,4.91,4.97,4.88,5.00,5.00,4.72,4.88

In [100]:
# r_file['amenities'] = r_file['amenities'].str.split(" ")
# # value_counts = r_file.explode("amenities")["amenities"].value_counts()
# # print(value_counts)
# r_file['amenities']


# # split the 'Fruit' column into separate rows
# r_file = r_file.assign(Amenities=r_file['amenities'].str.split(','))

# # count the occurrence of each unique fruit
# po_counts = r_file.explode('amenities')['amenities'].value_counts()

# print(po_counts)

# r_file = r_file.explode('amenities')
# a_counts = r_file.groupby('amenities').size()
# print(a_counts)

In [106]:
amenities = r_file['amenities'].to_list() #convert to list
# amenities = [eval(i) for i in amenities] #the previous function returns the list as a string,hence eval
amenities
amenities = [eval(i)for i in amenities]

In [ ]:
# created a big single list
amenities_list = []
for i in amenities:
    amenities_list.extend(i)
amenities_list

In [115]:
v_counts = pd.Series(amenities_list).value_counts()
print(v_counts)

Smoke alarm                                                                        7981
Kitchen                                                                            7700
Essentials                                                                         7538
Wifi                                                                               7358
Iron                                                                               6710
                                                                                   ...
Aesop / neals yard  conditioner                                                       1
B&W 606 Speakers sound system                                                         1
49" HDTV with Netflix, standard cable, Amazon Prime Video, Apple TV                   1
HDTV with Apple TV, Netflix, Chromecast                                               1
46" HDTV with Amazon Prime Video, Apple TV, Netflix, standard cable, DVD player       1
Length: 2655, dtype: int64

In [ ]:
print("The most popular amenities or feature is{} with {}. ".format())